
.DS_Store

Calc.xcodeproj/project.xcworkspace/xcuserdata/oliver.xcuserdatad/UserInterfaceState.xcuserstate

Calc.xcodeproj/xcuserdata/oliver.xcuserdatad/xcschemes/

Calc.xcodeproj/xcuserdata/oliver.xcuserdatad/xcdebugger/
